body {
  padding-top: 60px;
  background-color: #f1f1f1;
  color: black;
}

#postContainer{
  margin: 0 5px 5px;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: auto auto auto auto;
}

#userInfo{
  width: auto;
  height: 60px;
  background-color: #e1e1e1;
  border-radius: 10px;
  border: 1px solid white;
}

#likeButton, #commentButton{
  position: relative;
}

#commentParagraph{
  font-family: 'Righteous';
  font-size: 15px;
}

#likeText{
  float: left;
  font-family: 'Lilita One';
}

#userInfo img{
  float: left;
  margin: 10px 10px;
}

#userInfo h2{
  margin: 20px 0;
}

#postData{
  height: auto;
  width: auto;
  margin: 5px;
}

#postData img{
  display: none;
}

#postDiv{
  color: #333;
  background-color: white;
  font-family: arial;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid gray;
  min-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;

  display: grid;
  grid-template-columns: auto;
}

#imageElement {
  width: 50%;
  height: 50%;
  margin: auto;
}

#datePosted{
  padding: 1px 1px;
  float: right;
  font-family: 'Lilita One';
}

#titleLabel, #titleText, #bodyLabel, #bodyText, #tagsText, #tagsLabel, #fileLabel{
  text-align: center;
  font-family: 'Lilita One';
  font-size: 20px;
  font-weight: 200;
}

#titleLabel{
  padding-top: 5px;
}

#titleText, #bodyText, #tagsText, #fileOpener{
  font-size: 17px;
  font-family: 'Righteous';
  font-weight: 100;
}

#user-pic {
  top: -3px;
  position: absolute;
  display: inline-block;
  /*background-image: url('/images/profile_placeholder.png');
  */
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#userLabel{
  float: left;
  margin: 21px 0;
  font-family: 'Lilita One';
  font-weight: 100;
  text-decoration: none;
}

#user-feed-pic{
  /*background-image: url('/images/profile_placeholder.png');
  */
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
}

#titleElement{
  text-align: center;
  font-family: 'Lilita One';
  font-weight: 300;
}

#bodyElement{
  text-align: center;
  font-family: 'Comic Sans MS';
  font-weight: 100;
}

.nav-login ul li a:hover {
  color: #999;
}

.nav-login {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

.nav-login ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: cwidth;
}

.nav-login ul li {
  list-style: none;
  line-height: 60px;
}

.nav-login ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-family:
  arial; font-size: 16px;
  padding: 0px 15px;
}

#updateInformation{
  margin: 10px;
  padding: 10px;
}

#bioText, #ageText{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ageLabel, #bioLabel{
  margin: 10px;
  text-decoration: none;
  font-family: "Arial", Helvetica, sans-serif;
}
#tagsLabel, #tagsText{
  display: none;
}

/*.button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.button{
  background-color: white;
  color: black;
  padding: 0 23px;
  border-radius: 60px;
  font-size: 60px;
  margin: 10px;
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-family: 'Righteous';
}

#headerTitle{
  font-family: 'Lilita One';
  font-weight: 100;
  padding: 10px 0;
}

#submitButton{
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 7px;
  border: none;
  border-radius: 60px;
  font-family: 'Lilita One';
}

#likeButton{
  background-color: #0197E8;
  color: white;
  height: 25px;
  width: 25px;
  padding: 0;
  border-radius: 50px;
  border: none;
  float: right;
  text-align: center;
  cursor: pointer;
  font-family: 'Lilita One';
  font-size: 18px;
}
#commentButton{
  background-color: #0197E8;
  color: white;
  height: 25px;
  width: 75px;
  padding: 0;
  border-radius: 50px;
  border: none;
  float: right;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  font-family: 'Lilita One';
  font-size: 17px;
}
#submitCommentButton{
  background-color: #0197E8;
  color: white;
  height: 40px;
  width: 97%;
  float: center;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  border-width: 1px;
  border-radius: 50px;
  font-family: 'Lilita One';
  font-size: 20px;
  margin: 3px auto;
}
#inputCommentElement{
  float: left;
  width: 90%;
  margin: 0 5%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 30px;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
