body {
  background-color: #f1f1f1;
  color: black;
}

.nav-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

#user-pic {
  top: -3px;
  position: absolute;
  display: inline-block;
  /*background-image: url('/images/profile_placeholder.png');
  */
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-family:
  arial; font-size: 16px;
}

.nav-main ul li a:hover {
  color: #999;
}

.nav-login ul li a:hover {
  color: #999;
}

.nav-login {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

.nav-login ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: cwidth;
}

.nav-login ul li {
  list-style: none;
  line-height: 60px;
}

.nav-login ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-family:
  arial; font-size: 16px;
  padding: 0px 15px;
}

#updateInformation{
  margin: 10px;
  padding: 10px;
}
#bioText, #ageText{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#ageLabel, #bioLabel{
  margin: 10px;
  text-decoration: none;
  font-family: "Arial", Helvetica, sans-serif;
}
button{
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
